* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }

 .text1 .text2 .text3 .button {
  font-size: 16px;
}
section {
  width: 100%;
}

.container {
  margin: auto;
  max-width: 410px;
  padding: 15px;
  border-radius: 5px;
  border: thin solid lightgray;
}

/*** Logo ***/
.logo {
  display: flex;
  padding-bottom: 1%; 
  color: red;
  font-size: 25px;
}

.text1 {
  margin-left: 10px;
}

/*** Form ***/


.text2 {
  margin-top: 15px;
  margin-bottom: 20px;
}

.login {
  display: flex;
  border: thin solid lightgray;
  border-radius: 3px;
  margin-top: 5%;  
  align-items: center;
}

.login i {
  width: 34px;
  height: 33px;
  line-height: 33px;
  text-align: center;
  background: lightgray;
}

input {
  border: none;
  outline-style: none;
  font-size: 100%;
  margin-left: 3px;
}

/*** Checkbox ***/

.checkbox {
  padding: 15px 0 15px;
}

/*** Send Button ***/

.button {
  width: 60px;
  height: 33px;
  font-size: 16px;
  background-color: #ffc105;
  border-radius: 3px;
  border: thin solid white;
  cursor: pointer;
  outline-style: none;
}

.button:hover {
  background-color: orangered;
}

/*** Text3 ***/

p {
  color: tomato;
  width: 100%;
  padding: 10px;
  float: left;
  text-align: end;
}