* {
    box-sizing: border-box;
  }

.container {
    display: flex;    
    border-radius: 5px;
    justify-content: center;
    border: thin solid lightgray;
    width: 100%;
}

.logo {
    display: flex;
    padding: 2% 2% 2% 1%;
    color: red;
    font-size: x-large;
}

.image1 {
  margin-right: 8px;
  weidth: 30px;
  height: 30px;
}

.text2 {
  padding: 10px 10px 10px 0;
  font-size: large;
}

.login {
    display: flex;
    width: 150%;
    border: thin solid lightgray;
    border-radius: 5px;
    margin-top: 15px;  
    font-size: large;
}

.login i {
    width: 35px;
    height: 35px;
    line-height: 30px;
    text-align: center;
    float: left;
    display: inline-block;
    color: black;
    background: lightgray;
    margin-right: 5px;
}

input {
    border: none;
    font-size: 100%;
    padding: 5px;
}

.checkbox {
  position: relative;
  display: block;
  margin-top: 20px;k
}